.app_box{
    width:100%;
    min-height:1300px;
    overflow: auto;
    box-sizing: border-box;
    display: flex;
}
.app_left{
    width:200px;
    float: left;
    height:1300px;
    background: blue;
}
.app_right{
    height:100%;
    overflow: hidden;
    
}